@import "../styles.scss";

.game-info {
  display: block;
  > div{ 
    display: inline-block; 
    background-color: #000; 
    border-radius: 9px 9px 0px 0px;
  }
}

.board {
	transform-style: preserve-3d;
	perspective: 500px;
	min-height: 100%;
	height: 100%;
  background: #000;
}

@keyframes matchAnim {
	0% {
		background: #bcffcc;
	}
	100% {
		background: white;
	}
}

.round {
  height: 25px;
  padding: 5px;
  border: 1px solid #000;
  font-weight: 500;
  color: #fff;
}

.winning {
  height: 25px;
  padding: 5px;
  border: 1px solid #000;
  font-weight: 500;
  color: #fff;
  text-align: center;
}