.card {
  border: 2px solid grey;
  width: 180px; 
  margin: 8px;
  padding: 16px;
  border-radius: 8px;
  display: inline-block;
  background: azure;
  cursor: pointer;
}

.card > img {
  max-width: 150px;
  max-height: 100px;
  opacity: 0;
}

.flipped {
  background: #ccc;
  cursor: default;
}

.flipped > img {
  opacity: 1;
}

.already-matched {
  border: 2px solid green;
  cursor: default;
  background: greenyellow;
}

.already-matched > img {
  opacity: 0.7;
}
