.card {
  border: 2px solid grey;
  width: 100px;
  height: 150px;
  margin: 8px;
  padding: 16px;
  border-radius: 8px;
  display: inline-block;
  background: azure;
  cursor: pointer;
}

.flipped {
  background: #ccc;
}

.alreadyMatched {
  border: 2px solid green;
  cursor: default;
}
