* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body { 
	min-height: 100%;
	font-family: "Arial", sans-serif;
}

.App, #root {
  position: relative;
  height: 100%;
  min-height: 500px;
  padding-bottom: 20px;
}

@mixin width($max){
	@media (max-width: $max){
		@content;
	}
}